* {
	box-sizing: border-box;
	color:  white; 
	/* font-family:  mo; */
	font-family: "Poppins", sans-serif; 
} 


:root {
	--primary-color :rgb(18, 13, 23) ;
	--sub-color: rgb(30, 26, 33); 
	--default-padding : 1rem;
	--submar_smol : 1em
	/* --phone-su */ 
	
}

body main { 	 
	display: flex ;
	flex-direction: column;
	
} 

.block-1{ 
	padding: 3em ;
	/* background-color: tan; */
	/* width: ; */
	height: 100vh;   
	background-color:  var(--primary-color) ;
	/* display:  flex ; */
	display: flex;
	justify-content: center ;
	/* border:  3px dashed blue; */
	/* background-color:  ; */	
} 
 
.block-1 .sub { 	
	display: grid ;
	/* place-items: center; */
	margin-top: 30px;
	grid-template-rows: 70vh  ;
	grid-template-columns: 1fr 1fr ; 
	/* max-width: 1000px; */s
	width: 1000px;
	/* width: 100% ; */
}

.block-1 .sub .left{ 
	display:  flex ;
	flex-direction: column ;
	/* align-items: center ; */
	justify-content: center;
	border-radius: 1em ; 
	/* border: 1px dashed green;  */
	/* height : 70vh ;  */
	padding: 2em;
}

.block-1 .sub .right {
	/* border:  3px dashed green ; */
	color: green; 
}

.block-1 .sub .left .contact_bar{
	border-radius:  1em; 	
	background-color: var(--sub-color) ;	 
	padding:  0.8em 1.6em ; 
	
	/* padding: ; */
	/* width: ; */
	/* gap: 3px ; */
	
}	

.block-1 .sub .left .contact_bar .fa-github {
	scale: 1.6; 
	margin-right : 1em ;
}

.block-1 .sub h1  {
	font-weight: bolder;	
}

/* THIS THING ARE BLOCK-2 */
/* THIS THING ARE BLOCK-2 */
/* THIS THING ARE BLOCK-2 */

.block-2{

	top: -40px;
	border-radius: 2.5em;
	position:  relative;
	background-color:  var(--primary-color) ;
	height: 120vh;  
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
	display: flex ;
	justify-content: center; 
}

.block-2 .sub { 
	padding: 2em; 
	border:  3px dashed rgb(147, 199, 25) ;
	display:  grid ;
	grid-template-columns: 1fr 1fr ;
	grid-template-rows: 8em 1fr 10em; 
	height:  100vh ; 
	/* max-width: 600px; */
	width: 1000px; 
	gap: 10px; 
	margin-top: 5em;	 
	column-gap: 30px;
	
} 

.block-2 .sub h1 {
	color:  white ;
	font-weight:  bolder; 
	border :  3px dashed green ;
	grid-rows: 1/2 ;
	display: flex ;
	justify-content: flex-end;
	align-items: flex-end; 
	text-align: end;
	font-size: 3.1em;
	/* scale: 1.4; */
}

.block-2 .sub p{
	grid-rows: 2/3 ;
	color:  white;
	/* border :  3px dashed green ; */
	text-align: start;
	/* display:  flex; */
	/* justify-content: flex-start;
	align-items: flex-end; */
	font-size: 1.2em;

}

.block-2 .sub .skill_container {
	/* border :  3px dashed green ; */
	/* background-color: var(--sub-color); */
	background-color: black ;
	grid-column: 1/3 ; 
	/* position: fixed; */
	/* display: flex; */
	/* width: 100vw; */
	border-radius: 1em; 
	padding: 2em;
} 

.block-2 .sub  h1  {
	font-weight: bolder ;
	/* padding:  ; */
}
 

/* THIS ARE BLOCK-3  */
/* THIS ARE BLOCK-3  */
/* THIS ARE BLOCK-3  */

#block-3 {
	background-color:  var(--primary-color) ;
	padding: 3em; 
	height: 80vh;  
	display: flex;
	justify-content: center ; 
	
}

#block-3 .sub {
	border:  3px dashed rgb(228, 237, 207) ;
	display: grid ;  	  
	grid-template-rows:  80%  13%  ;
	grid-template-columns: 57% 43%  ; 
	padding: 2em; 
	width: 1000px; 
	gap: 1em; 
	
} 

#block-3 .sub  * {
	/* border: 1px dashed green ;  */
	/* display: ; */
} 

#block-3 .sub #content {
	flex-direction: column ;
	display:  flex ; 
	justify-content: flex-end;
}

#block-3 .sub #content > h1  { 
	font-weight: bolder; 
} 


#block-3 .sub #tool_bar {
	grid-column: 1/3;  
	/* display: inline-flex; */
	/* display: contents; */
	/* display: ; */
	
  /* align-self: ; */  
	/* display: flex ; */
	display: grid ; 
	grid-template-columns: 20% 80% ;
	grid-template-rows: 1fr 1fr;
	column-gap: 25px;
	/* justify-content: space-between; */
	/* align-items: start;  */
}	

#block-3 .sub #tool_bar > h3 {
	background-color:  var(--sub-color);
	display: flex ;
	justify-content: center;
	align-items:  center; 
	border-radius: 0.8em;
	grid-row: 1/3;
} 

#block-3 .sub #tool_bar > .tool_list {
	display:  flex ; 
	/* justify-content: start  ; */
	align-items: center ;
	gap:  20px; 
	/* padding: 1 ; */
} 

#block-3 .sub #tool_bar  .tool_list_2 { 

	grid-column: 2/3 ;  
}


#block-3 .sub #tool_bar  .tool_list h4 {
	font-size:  14px; 
	padding: 7px 22px; 
	background-color: var(--sub-color);
	border-radius: 1em;
} 

#block-3 .sub #tool_bar  .tool_list_2 h4 {
	font-size: 14px;
}

#block-3 .sub #tool_bar  .tool_list_2 > h4:first-child {
	color:  var(--sub-color);
}

#block-3 .sub #img_tab  {
	display:  grid  ;	 
	grid-template-columns: 2fr 1fr ; 
	grid-template-rows: 1fr 1fr ;  
	border-radius : 1em ;
	background-color: var(--sub-color);
} 

#block-3 .sub #img_tab .img_1st {
	grid-row: 1/3 ;  
		
}

/* #block-3 .sub #img_tab  */

#block-3 .sub #img_tab > * { 
	border:  1px dashed white; 
	border-radius : 1em ;
}
	




@media only screen and (max-width: 500px ) {
	/* Styles for screens less than PIXELS wide */
	.block-1 {
		background-color: var(--primary-color) ;
		padding: 0px;
		
	}

	/* .block-1 .sub {
		display: grid;
		margin-top: 30px;
		grid-template-rows: 60vh 60vh;
		grid-template-columns: 1fr;
	}  */

	section.block-2 {
		height:  auto ;
		/* height : 200vh;  */
	}

	.block-2 .sub {
		/* background-color: green; */ 
		/* margin: 1em; */
		padding: 0.8em;
		height: 120vh;
		display: flex;
		flex-direction: column ;
		text-align: center ;
		/* display: grid ; */
		/* grid-template-columns:  ;
		grid-template-rows: 20vh 20vh 20vh;   */
	} 
	
	.block-2 .sub h1 {
		text-align: start ; 
		scale: 0.95;
		/* grid-row: 1; */
		/* background-color:  yellow; */
	}

	.block-1 .sub .inamoe {
		/* grid-row : 2/3 ;   */
		background-color:  black ;
	} 
	
	.block-2 .sub  .skill_container{
		padding: 0.8em ;
		/* grid-row:  3/4; */ 
		height: 70vh;			
	} 
	

	#block-3 {
		padding:  0  ;
		height: auto;
	} 
	
	#block-3 .sub { 
		padding: 0.8em;
		height: 120vh;  
		display:  grid ; 
		grid-template-columns: 1fr; 
		grid-template-rows:  3fr 2fr 2fr  ;
		gap: 10px 0; 
		/* display: grid ; */
		
	}  
 
	
	#block-3 .sub #content {
		grid-column: 1/2;
	} 
 
	#block-3 .sub #img_tab  {
		display:  grid  ;	 
		grid-template-columns: 1fr 1fr ; 
		grid-template-rows: 2fr 1fr ; 

	}
	
	#block-3 .sub #img_tab .img_1st {
		grid-column:  1/3 ;	
		grid-row: 1/2;
	}

	#block-3 .sub #tool_bar {
		display: flex; 
		flex-direction: column;
		/* grid-row: 1fr 1fr 1fr ; */
		
	} 

	#block-3 .sub #tool_bar .tool_list {
		display: inline-block 	;
	}
	#block-3 .sub #tool_bar .tool_list_2 h4:first-child  {
		display: none;
	}
	

	
/*  */
	 
}











/* main {
	
} */