* {
	box-sizing: border-box;
	color:  white; 
	/* font-family:  mo; */ 
	font-family: "Poppins", sans-serif; 
	margin: 0;
	padding: 0  ;
} 


:root {
	--primary-color :rgb(18, 13, 23) ;
	--sub-color: rgb(30, 26, 33); 
	--default-padding : 1rem;
	--submar_smol : 1em
	/* --phone-su */ 
	
}

body main { 	 
	display: flex ;
	flex-direction: column;
	
} 
 
.block-1{ 
	padding: 3em ;
	height: 100vh;   
	background-color:  var(--primary-color) ;
	display: flex;
	justify-content: center ;
	/* background-color:  ;	 */
	z-index: 3;	
} 

 
.block-1 .sub *  {
	/* border: 1px dashed white; */
} 

.block-1 .sub { 	
	display: grid ;
	/* place-items: center; */
	margin-top: 30px;
	grid-template-rows: 70vh  ;
	grid-template-columns: 1fr 2fr ; 
	gap: 1em;
	/* max-width: 1000px; */ 
	width: 1000px; 
	/* width: 100% ; */
	z-index: 20;
	/* position: absolute; */
	background-color: transparent ;
}  

 .block-1 #back {  
	/* display: none ; */
	filter: blur(400px);
	 /* -webkit-filter: blur(8px);   */
	/* position: static; */
	position: absolute;
	top: 30em;
	width: 200% ;
	height: 100vh;
	z-index: -1;
	background: rgb(216, 205, 205) url(/trialss.jpg) center center/cover no-repeat; 
	opacity: 0.30;
	
}
 

.block-1 .sub  #first {
	/* border:  3px dashed	 green ; */
	border-radius: 1em 1em 0 1em ;
	background-color: var(--sub-color)
	/* color: green;   */ 
}


/* .block-1 .sub .left{ 
	display:  flex ;
	flex-direction: column ;
	justify-content: center;
	border-radius: 1em ; 
	padding: 2em;

}	
 */


	.block-1 .sub #second  {
		display: flex;
		justify-content: center;
		align-items: self-start ; 
		flex-direction: column;
		padding: 0.6em;
	}  

	.block-1 .sub .left h1 {
		margin-left:  0.5	em;
	}
	
	.block-1 .sub  #second div  {
		width: 100%	;
		display: flex;
		flex-wrap: wrap ;	
		gap: 10px;
	}
	
	.block-1 .sub  #second div *  {		
		/* border: 1px dashed cyan  ;   */
		
	}
	
	

	.block-1 .sub  #second div .contact_bar {
		display: flex; 
		justify-content: center;
		align-items: center;
		border-radius:  1em; 	
		max-width: 15em;	
		background-color: var(--sub-color) ;	 
		padding: 10px 1em ;  		
		gap: 10px;  
		height: 50px; 
		
	}  
	
	.block-1 .sub  #second div p.deact {
	 	padding: 10px 2em; 		
		display: none ;
	}

	.block-1 .sub  #second div p.act {
		display: block;
	/* display:; */
	}

	


	.block-1 .sub #second div .contact_bar .fa-github {
		scale: 1.7;   
		margin: 0 10px;
	}
	
	.block-1 .sub #second div .contact_bar > div {
		width: 20%;
		height: 100%;
		background-image: url(/src_style/icon_gmails.png); 
		background-size: cover;
		border-radius: 50%;  
		width: 30px; 
		/* margin: 0; */
		
	}

	.block-1 .sub #second div .gmail {
		/* width: ; */
		height: 50px ; 
		/* margin: 10px; */
	}
	 
	.block-1 .sub  #second  div .contact_bar p {

		font-size: 10px;
		margin: 0 ;
	} 




.block-1 .sub h1  {
	font-weight: bolder;	
}

/* THIS THING ARE BLOCK-2 */
/* THIS THING ARE BLOCK-2 */
/* THIS THING ARE BLOCK-2 */

.block-2{

	top: -40px;
	border-radius: 2.5em;
	position:  relative;
	background-color:  var(--primary-color) ;
	height: 120vh;  
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
	display: flex ;
	justify-content: center; 
}

.block-2 .sub { 
	z-index: 20;
	padding: 2em; 
	/* border:  3px dashed rgb(147, 199, 25) ; */
	display:  grid ;
	grid-template-columns: 1fr 1fr ;
	grid-template-rows: 8em 1fr 10em; 
	height:  100vh ; 
	/* max-width: 600px; */
	width: 1000px; 
	gap: 10px; 
	margin-top: 5em;	 
	column-gap: 30px;
	
} 

.block-2 .sub h1 {
	color:  white ;
	font-weight:  bolder; 
	/* border :  3px dashed green ; */
	grid-rows: 1/2 ;
	display: flex ;
	justify-content: flex-end;
	align-items: flex-end; 
	text-align: end;
	font-size: 3.1em;
	/* scale: 1.4; */
}

.block-2 .sub p{
	grid-rows: 2/3 ;
	color:  white;
	/* border :  3px dashed green ; */
	text-align: start;
	/* display:  flex; */
	/* justify-content: flex-start;
	align-items: flex-end; */
	font-size: 1.2em;

}

.block-2 .sub .skill_container {
	
	background-color: rgb(247, 253, 255) ;
	grid-column: 1/3 ;  
	border-radius: 1em; 
	padding: 2em;
} 



.block-2 .sub  h1  {
	font-weight: bolder ;
 
}
 

/* THIS ARE BLOCK-3  */
/* THIS ARE BLOCK-3  */
/* THIS ARE BLOCK-3  */

#block-3 {
	background-color:  var(--primary-color) ;
	padding: 3em; 
	/* max-height: 80vh; */
	/* height: 80vh;   */
	height: auto;
	display: flex;
	justify-content: center ;  
}

#block-3 .sub {
	/* border:  3px dashed rgb(228, 237, 207) ; */ 

	display: grid ;  	  
	grid-template-rows:  80%  17%  ;
	grid-template-columns: 57% 43%  ; 
	padding: 2em; 
	width: 1000px; 
	gap: 1em; 
	height: 70vh;
	/* height:  auto	; */
	
} 

#block-3 .sub  * {
	/* border: 1px dashed green ;  */
	/* display: ; */
} 

#block-3 .sub #content {
	flex-direction: column ;
	display:  flex ; 
	justify-content: flex-end;
}

#block-3 .sub #content > h1  { 
	font-weight: bolder; 
} 


#block-3 .sub #tool_bar {
	grid-column: 1/3;  
	/* display: inline-flex; */
	/* display: contents; */
	/* display: ; *
  /* align-self: ; */  
	/* display: flex ; */
	display: grid ; 
	grid-template-columns: 3fr  10fr ;
	grid-template-rows:  1fr ;
	/* grid-auto-rows: auto; */
	column-gap: 25px;
	/* justify-content: space-between; */
	/* align-items: start;  */ 
	margin: 0;
}	

#block-3 .sub #tool_bar > h3 {
	background-color:  var(--sub-color);
	border-radius: 0.8em;
	grid-row: 1/3; 
	margin: 0;
	display: flex ;
	justify-content: center	;
	align-items: center; 
	/* align-self: center;a */
} 
 
#block-3 .sub #tool_bar  .tool_list {
	display:  flex ; 
	/* justify-content: center  ;  */
	
	/* align-items: center ; */
	row-gap: 20px; 
	/* flex-wrap: 20px; */
	flex-wrap: wrap-reverse ; 
	padding:  0 ;
	margin:  0;
	
	/* padding: 1 ; */ 
} 

/* #block-3 .sub #tool_bar  .tool_list_2 { 

	grid-column: 2/3 ;  
} */


#block-3 .sub #tool_bar .tool_list h4 {
	margin: 0 10px ;	
	padding: 10px 10em ;
	/* color:  green; */
	font-size:  1em; 
	padding: 7px 22px; 
	background-color: var(--sub-color);
	border-radius: 1em; 
} 

#block-3 .sub #tool_bar  .tool_list_2 > h4:first-child {
	margin:  0 ;
	padding: 0;
	color:  var(--sub-color);
}

#block-3 .sub #img_tab  {
	display:  grid  ;	 
	grid-template-columns: 2fr 1fr ; 
	grid-template-rows: 1fr 1fr ;  
	border-radius : 1em ;
	background-color: var(--sub-color);
} 

#block-3 .sub #img_tab .img_1st {
	grid-row: 1/3 ;  
		
}

/* #block-3 .sub #img_tab  */

#block-3 .sub #img_tab > * { 
	border:  1px dashed white; 
	border-radius : 1em ;
}
	




@media only screen and (max-width: 500px ) {
	/* Styles for screens less than PIXELS wide */
	.block-1 {
		background-color: var(--primary-color) ;
		padding: 0 ;
		margin: 0;
		
	}

	.block-1 .sub {
		/* display: flex;   */
		
		/* width: ; */
		/* flex-wrap: ; */
		/* flex-direction: column; */
		
		display: grid; 
		margin-top: 30px;
		grid-template-rows: 20vh 60vh;
		grid-template-columns: 1fr;
		/* width:80vh; */
		/* padding: 0.8em; */

	} 

	.block-1 .sub #second{
		/* padding: 1em;  */
		/* display:  flex; */
		justify-content: start;
		/* align-items: flex-start; */
	}

	.block-1 .sub #first {
		
		
	}

	.block-1 .sub .left .contact_bar {
		width: 20vh;
	}

	.block-1 .sub .left .contact_bar i 


	/*  BLOCk- 2 ! */
	/*  BLOCk- 2 ! */
	/*  BLOCk- 2 ! */
	/*  BLOCk- 2 ! */


	section.block-2 {
		height:  auto ;
	}

	.block-2 .sub {
		/* background-color: green; */ 
		/* margin: 1em; */
		padding: 0.8em;
		height: 120vh;
		display: flex;
		flex-direction: column ;
		text-align: center ;
		/* display: grid ; */
		/* grid-template-columns:  ;
		grid-template-rows: 20vh 20vh 20vh;   */
	} 
	
	.block-2 .sub h1 {
		text-align: start ; 
		scale: 0.95;
		/* grid-row: 1; */
		/* background-color:  yellow; */
	}

	.block-1 .sub .inamoe {
		/* grid-row : 2/3 ;   */
		background-color:  black ;
	} 
	
	.block-2 .sub  .skill_container{
		padding: 0.8em ;
		height: 70vh;			
	}  

	.block-2 .sub  .skill_container * {
		border: 1px dashed green;
	}

	

	

	#block-3 {
		padding:  0  ;
		height: auto;
	} 
	
	#block-3 .sub { 
		padding: 0.8em;
		height: 120vh;  
		display:  grid ; 
		grid-template-columns: 1fr; 
		grid-template-rows:  3fr 2fr 2fr  ;
		gap: 10px 0; 
		/* display: grid ; */
		
	}  
 
	
	#block-3 .sub #content {
		grid-column: 1/2;
	} 
 
	#block-3 .sub #img_tab  {
		display:  grid  ;	 
		grid-template-columns: 1fr 1fr ; 
		grid-template-rows: 2fr 1fr ; 

	}
	
	#block-3 .sub #img_tab .img_1st {
		grid-column:  1/3 ;	
		grid-row: 1/2;
	}

	#block-3 .sub #tool_bar {
		display: flex; 
		flex-direction: column;
		/* grid-row: 1fr 1fr 1fr ; */
		
	} 

	#block-3 .sub #tool_bar .tool_list {
		flex-wrap: wrap ;
		/* display: inline-block 	; */
	} 

	#block-3 .sub #tool_bar h3 {
		margin-bottom: 0.8em; 
		background-color: transparent ;
		/* border-color: none ; */ 
	}

	#block-3 .sub #tool_bar .tool_list * {
		margin:  1 ;
		gap: 0 ;
	}
	
	

	/* #block-3 .sub #tool_bar .tool_list_2 h4:first-child  {
		display: none;
	} */
	

	
/*  */
	 
}











/* main {
	
} */